<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Заголовки страниц</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/titlegrab.css" />
  </head>
  <body>
    <a href="/admin/titlegrab/link/">Редактировать ссылки</a>

    <h2>Список заголовков</h2>
    <table>
      <thead>
        <tr>
          <td>URL</td>
          <td>Заголовок</td>
          <td>Время обновления</td>
        </tr>
      </thead>
      <tbody>
      {% for link in links %}
        <tr>
          <td>
            <a href="{{ link.url }}">{{ link.url }}</a>
          </td>
          <td>
            {{ link.title|default_if_none:'-' }}
          </td>
          <td>
            {{ link.last_updated|default_if_none:'-' }}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </body>
</html>
